@import url("./utility.css");
:root {
	--text-color:#333;
	--text-color-light: #5A5A5A;
	--text-white:#eee;

	--bg-color: #8B5CF6;
	--bg-color-dark: #7C3AED;
	--bg-color-dark2: #6D28D9;
	--bg-color-light: #A78BFA;
	--bg-color-light2: #C4B5FD;
	--bg-white: #f3f4f6;
}

* {
	margin: 0;
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;
	color: var(--text-color);
	line-height: 1.5;
}

html
{
	scroll-behavior: smooth;
}

.a--reset{
	text-decoration: none;
}