@import url("./utility.css");
:root {
  --text-color: #333;
  --text-color-light: #5a5a5a;
  --text-white: #eee;

  --bg-color: #8b5cf6;
  --bg-color-dark: #7c3aed;
  --bg-color-dark2: #6d28d9;
  --bg-color-light: #a78bfa;
  --bg-color-light2: #c4b5fd;
  --bg-white: #f3f4f6;

  --color-primary: #00aaff;
  --color-success: #4caf50;
  --color-error: #f44336;
  --color-warning: #ff9800;
  --color-pure-white: #fff;

  --overlay-bg: rgb(0, 0, 0, 0.5);
}

* {
  margin: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  color: var(--text-color);
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
