<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="avatar.css">
    <link rel="stylesheet" href="/Docsite_CSS/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Sarani UI</title>
</head>
<body>
    <div class="container">
        <div class="nav-bar p10">
            <div class="nav-left">
                <i class="fas fa-bars" id="menu"></i>
                <div class="nav-header">सरणी UI</div>
            </div>
            <div class="nav-right">
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="side-bar">
            
        </div>
        <div class="component-section">
        </div>
    </div>
    <script src="/Docsite_JS/index.js"></script>
</body>
</html>