<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="typography.css">
    <link rel="stylesheet" href="/Docsite_CSS/structure.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Sarani UI</title>
</head>
<body>
    <div class="container">
        <div class="nav-bar p10">
            <div class="nav-left">
                <i class="fas fa-bars" id="menu"></i>
                <div class="nav-header fw900">सरणी UI</div>
            </div>
            <div class="nav-right">
                <a href="https://github.com/rushikesh3299"><i class="fab fa-github"></i></a>
                <a href="https://twitter.com/rushikesh3299"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/rushikesh-chougule-621854192/"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="side-bar pb40">
            <a href="/Components/Avatar/avatar.html" class=" p20">Avatar</a>
            <a href="/Components/Alert/alert.html" class=" p20">Alert</a>
            <a href="/Components/Badge/badge.html" class=" p20">Badge</a>
            <a href="/Components/Button/button.html" class=" p20">Button</a>
            <a href="/Components/Card/card.html" class=" p20">Card</a>
            <a href="/Components/Image/image.html" class=" p20">Image</a>
            <a href="/Components/Input/input.html" class=" p20">Input</a>
            <a href="/Components/Rating/rating.html" class=" p20">Rating</a>
            <a href="/Components/Toast/toast.html" class=" p20">Toast</a>
            <a href="/Components/Typography/typography.html" class=" p20">Typography</a>
            <a href="/Components/Typography/typography.html" class=" p20">Typography</a>
        </div>
        <div class="component-section">
            <div class="component-title">Typography</div>
            <p class="component-general">Typography can be called as text utilities. Checkout below text utilities for more information.</p>
            <div class="component-subtitle">Examples of Typography</div>
            <p class="component-specific">As shown in below code you can vary font sizes for headers & other ypography using 'fsxx' classes which are nothing but font size. e.g. fs05 -> font-size:0.5rem  & fs35 -> font-size:3.5rem.
                <br>for font weight you can use 'fwxxx' classes which are from fs100 to fs900. E.g. fw200 -> font-weight:200 & fw900 -> font-weight:900
            </p>
            <div class="component-demo-box">
                <div class="typography-box">
                    <div class="fs30 fw900">Header 01 very bold</div>
                    <div class="fs30 fw700">Header 01 bold</div>
                    <div class="fs30">Header 01 normal</div>
                    <div class="fs25">Header 02</div>
                    <div class="fs20">Header 03</div>
                    <div class="fs17">Header 04</div>
                    <div class="fs14">Header 05</div>
                    <div class="fs12">Header 06</div>
                </div>
            </div>
            <div class="code-snippet">
                <iframe
                    src="https://carbon.now.sh/embed/9myQNBlXzwITcH1Lq6Wk"
                    style="width: 451px; height: 223px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            <p class="component-specific">As shown below you can use utility calsses taC, taL & taR which means text-align to center, left or right respectively</p>
            <div class="component-demo-box">
                <div class="typography-box2">
                    <p class="taC">Text Align Center</p><hr>
                    <p class="taL">Text Align Left</p><hr>
                    <p class="taR">Text Align Right</p><hr>
                    <p class="fs05">Small text</p><hr>
                    <p class="gray-text">Gray colored text</p>
                </div>
            </div>
            <div class="code-snippet">
                <iframe
                    src="https://carbon.now.sh/embed/OvkqGIUOWzdIZYi0sVoK"
                    style="width: 393px; height: 167px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            <p class="component-specific">You can copy & paste typography which you want from above code snippets or use uti;ity calasses as described above for more variations in typography.</p>
        </div>
        <div class="footer">
            <div class="footer-intro">Made with <i class="fas fa-heart"></i> by <a class=" td-ul" href="#">Rushikesh</a> </div>
            <div class="footer-icon">
                <a href="https://github.com/rushikesh3299"><i class="fab fa-github"></i></a>
                <a href="https://twitter.com/rushikesh3299"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/rushikesh-chougule-621854192/"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="footer-copyright">@2021 सरणी UI</div>
        </div>
    </div>
    <script src="/Docsite_JS/index.js"></script>
</body>
</html>