@import url("./Common_CSS/base.css");

body{    
    background: var(--bg-white);
}

.container{
    max-width: 800px;
}

.title{
    text-decoration: underline;
    transition: all .2s ease-in-out;
}

.title:hover{
    transform: scale(1.2);
}

.navbar{
    padding: 2rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 450px){
    .navbar{
        padding: 1.5rem;
    }
}

.menu{
    display:flex;
    gap:1.5rem;
}

@media screen and (max-width: 450px){
    .menu{
        gap: 1rem;
    }
}

.menu a{
    color: var(--text-color-light);
}

.menu a:hover{
    color: var(--text-color);
}

.mid-section{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.mid-section a{
    color: var(--text-white);
    margin: 1rem auto;
    width: 120px;
    padding: 1rem;
    background: var(--bg-color);
    border-radius: 5px;
    box-shadow: .5rem .5rem 2rem gray;
}

.mid-section a:hover{
    opacity: .9;
}