@import url("./Common_CSS/base.css");

body{    
    background: #f3f4f6;
}

.container{
    max-width: 800px;
    margin: auto;
}

.title{
    font-weight: 900;
    text-decoration: underline;
    transition: all .2s ease-in-out;
}

.title:hover{
    transform: scale(1.2);
}

.navbar{
    padding: 2rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 450px){
    .navbar{
        padding: 1.5rem;
    }
}

.menu{
    display:flex;
    gap:1.5rem;
}

@media screen and (max-width: 450px){
    .menu{
        gap: 1rem;
    }
}

.menu a{
    color: #5A5A5A;
    font-weight: bold;
}

.menu a:hover{
    color: #000;
}

.mid-section{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.mid-section-head{
    padding: 1rem;
    font-size: 56px;
    font-weight: 900;
}

@media screen and (max-width: 450px){
    .mid-section-head{
        font-size: 40px;
    }
}

.mid-section-text{
    font-size: 1.2rem;
    padding: 1rem;
}

.mid-section p{
    line-height: 2rem;;
}

.mid-section a{
    color: #fff;
    margin: 1rem auto;
    width: 120px;
    padding: 1rem;
    background: #6366F1;
    border-radius: 5px;
    box-shadow: .5rem .5rem 2rem gray;
}

.mid-section a:hover{
    opacity: .9;
}