<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="card.css">
    <link rel="stylesheet" href="/Docsite_CSS/structure.css">
    <link rel="stylesheet" href="/Common_CSS/base.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="icon" type="image/x-icon" href="/Assets/images/favicon.ico">
    <title>Sarani UI</title>
</head>

<body>
    <div class="container">
        <div class="nav-bar p10">
            <div class="nav-left">
                <i class="fas fa-bars" id="menu"></i>
                <div class="nav-header fw900">सरणी UI</div>
            </div>
            <div class="nav-right">
                <a href="https://github.com/rushikesh3299"><i class="fab fa-github"></i></a>
                <a href="https://twitter.com/rushikesh3299"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/rushikesh-chougule-621854192/"><i
                        class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="side-bar pb40">
            <a href="/Components/Avatar/avatar.html" class=" p20">Avatar</a>
            <a href="/Components/Alert/alert.html" class=" p20">Alert</a>
            <a href="/Components/Badge/badge.html" class=" p20">Badge</a>
            <a href="/Components/Button/button.html" class=" p20">Button</a>
            <a href="/Components/Card/card.html" class=" p20">Card</a>
            <a href="/Components/Grid/grid.html" class=" p20">Grid</a>
            <a href="/Components/Image/image.html" class=" p20">Image</a>
            <a href="/Components/Input/input.html" class=" p20">Input</a>
            <a href="/Components/Lists/list.html" class=" p20">Lists</a>
            <a href="/Components/Modal/modal.html" class=" p20">Modal</a>
            <a href="/Components/Nav/nav.html" class=" p20">NavBar</a>
            <a href="/Components/Rating/rating.html" class=" p20">Rating</a>
            <a href="/Components/Toast/toast.html" class=" p20">Toast</a>
            <a href="/Components/Typography/typography.html" class=" p20">Typography</a>
        </div>
        <div class="component-section">
            <div class="component-title">Cards</div>
            <p class="component-general">Cards are one of the most attractive elements of every UI where they have used.
                Cards show us e.g if we look e-commerece websites the item information its price & other things</p>
            <div class="component-subtitle">Examples of Card</div>
            <p class="component-specific">Below some sample cards are shown which contains card with badge, cards with
                close icon, card with shadow, simple text card & horizontal card</p>
            <div class="component-demo-box">
                <div class="card-box">
                    <div class="product-card">
                        <div class="product-card-img">
                            <img src="https://www.sdlindia.com/consumerayurved/images/products/dp335cc332e2379db300fd92839ca6687a_crop.jpg"
                                alt="">
                            <i class="far fa-heart"></i>
                        </div>
                        <div class="product-card-discription">
                            <div class="product-card-name">Swamala</div>
                            <div class="product-card-brand">Dhootpapeshwar</div>
                            <div class="product-card-price">
                                <div>Rs.120</div>
                                <div>(15% OFF)</div>
                            </div>
                            <div class="product-card-quantity">1KG</div>
                            <div class="product-card-rating-bar">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star-half-alt"></i></span>
                                <span><i class="far fa-star"></i></span>
                            </div>
                            <button class="product-card-btn-add">Add to cart</button>
                        </div>
                    </div>
                    <div class="badge-card">
                        <img class="card-img" src="https://picsum.photos/id/237/250/200" alt="...loading">
                        <div class="card-body">
                            <div class="card-title">
                                <div class="card-name">My card Name</div>
                                <div class="card-author">Iam Author</div>
                            </div>
                            <div class="card-info">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia rem
                                pariatur adipisci</div>
                            <div class="card-action">
                                <i class="fas fa-book-reader"></i>
                                <i class="fas fa-bookmark"></i>
                                <i class="fas fa-heart"></i>
                                <i class="fas fa-share-alt"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>
                    </div>
                    <div class="overlay-card">
                        <div class="card-imgtext">
                            <img class="card-img" src="https://picsum.photos/200/300" alt="...loading" />
                            <div class="card-overlay-text">
                                <div class="card-title">Story of dog</div>
                                <div class="card-author">Nicolas Flamal</div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-info">The dog or domestic dog is a domesticated descendant of the wolf
                                which is characterized by an upturning tail. </div>
                            <div class="card-action">
                                <i class="fas fa-book-reader"></i>
                                <i class="fas fa-bookmark"></i>
                                <i class="fas fa-heart"></i>
                                <i class="fas fa-share-alt"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>
                    </div>
                    <div class="text-card">
                        <div class="text-card-container">
                            <div class="text-card-header">Header text card</div>
                            <div class="text-card-body">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis labore, placeat ea
                                quaerat nesciunt illum consequatur. Deserunt repudiandae numquam est possimus eum nisi
                                sapiente voluptates ex, ea nulla corrupti aliquid.Lorem, ipsum dolor sit amet
                                consectetur adipisicing elit. Quis labore, placeat ea quaerat nesciunt illum
                                consequatur. Deserunt repudiandae numquam est possimus eum nisi sapiente.
                            </div>
                        </div>
                        <div class="close-icon">&times;</div>
                    </div>
                    <div class="hz-card">
                        <div class="card-container">
                            <div class="card-body">
                                <div>
                                    <img class="card-img" src="https://picsum.photos/250/200" />
                                </div>
                                <div class="card-info">
                                    <div class="card-title">Oogway Ascends</div>
                                    <div class="card-author">Hans Zimmer</div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <i class="fas fa-book-reader"></i>
                                <i class="fas fa-bookmark"></i>
                                <i class="fas fa-heart"></i>
                                <i class="fas fa-share-alt"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="code-snippet code-snippet-multiple">
                <iframe src="https://carbon.now.sh/embed/7yPVJJBW2bUKpDt2y4PD"
                    style="width: 999px; height: 502px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                <iframe src="https://carbon.now.sh/embed/S1kiioy1wB1XLRNoWTGv"
                    style="width: 850px; height: 428px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                <iframe src="https://carbon.now.sh/embed/S1kiioy1wB1XLRNoWTGv"
                    style="width: 850px; height: 465px; border:0; transform: scale(1);"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                <iframe src="https://carbon.now.sh/embed/2mhssKyrOVtTFQEtqzOk"
                    style="width: 850px; height: 316px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                <iframe src="https://carbon.now.sh/embed/4PmiFJvyxHxZOAPC3pSw"
                    style="width: 850px; height: 446px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            <p class="component-specific">Above code snippets are given in order of the cars sample shown above. You can
                copy & use the snippet for the card you want.</p>
        </div>
        <div class="footer">
            <div class="footer-intro">Made with <i class="fas fa-heart"></i> by <a class=" td-ul" href="#">Rushikesh</a>
            </div>
            <div class="footer-icon">
                <a href="https://github.com/rushikesh3299" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://twitter.com/rushikesh3299" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/rushikesh-chougule-621854192/" target="_blank"><i
                        class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="footer-copyright">@2021 सरणी UI</div>
        </div>
    </div>
    <script src="/Docsite_JS/index.js"></script>
</body>

</html>