label {
  font-size: 0.8rem;
}

input {
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.simple-input input {
  border: 2px solid var(--text-color);
}

.error-input input {
  border: 2px solid var(--color-error);
}

.error-input label {
  color: var(--color-error);
}

.textbox-input textarea {
  border: 2px solid var(--text-color);
}
