@import url("/Common_CSS/base.css");

.btn{
    padding: .5rem 1rem;
    border: none;
    border-radius: .5rem;
    background: var(--bg-white);
}

.btn-primary{
    color: var(--text-white);
    background: var(--color-primary);
}

.btn-outline{
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
}

.btn-icon{
    color: var(--text-white);
    background: var(--color-primary);
}

.btn-icon i{
    color: var(--text-white);
}

.btn-link{
    text-decoration: underline;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
}

.btn-link a{
    color: var(--color-primary);
}

.btn-action{
    color: var(--text-white);
    border-radius: 50%;
    background: var(--color-primary);
}

.btn-action i{
    color: var(--text-white);
}