<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="toast.css">
    <link rel="stylesheet" href="/Docsite_CSS/structure.css">
    <link rel="stylesheet" href="/Common_CSS//base.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Sarani UI</title>
</head>
<body>
    <div class="container">
        <div class="nav-bar p10">
            <div class="nav-left">
                <i class="fas fa-bars" id="menu"></i>
                <div class="nav-header fw900">सरणी UI</div>
            </div>
            <div class="nav-right">
                <a href="https://github.com/rushikesh3299"><i class="fab fa-github"></i></a>
                <a href="https://twitter.com/rushikesh3299"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/rushikesh-chougule-621854192/"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="side-bar pb40">
            <a href="/Components/Avatar/avatar.html" class=" p20">Avatar</a>
            <a href="/Components/Alert/alert.html" class=" p20">Alert</a>
            <a href="/Components/Badge/badge.html" class=" p20">Badge</a>
            <a href="/Components/Button/button.html" class=" p20">Button</a>
            <a href="/Components/Card/card.html" class=" p20">Card</a>
            <a href="/Components/Image/image.html" class=" p20">Image</a>
            <a href="/Components/Input/input.html" class=" p20">Input</a>
            <a href="/Components/Rating/rating.html" class=" p20">Rating</a>
            <a href="/Components/Toast/toast.html" class=" p20">Toast</a>
            <a href="/Components/Typography/typography.html" class=" p20">Typography</a>
        </div>
        <div class="component-section">
            <div class="component-title">Toast</div>
            <p class="component-general">Toasts are used to display short time mesages to the user which can be an outcome of the action user has recently done on website. Usually toast disappear in 2-3 seconds.</p>
            <div class="component-subtitle">Examples of Toast</div>
            <p class="component-specific">Below toasts are shown which shows Sucess, warning or error message. Toasts are also called as snackbars.</p>
            <div class="component-demo-box">
                <div class="toast-box">
                    <div class="toast">
                        <span>Error Occured. Please try Again.</span>
                        <a href="#">Retry</a>
                        <button><i class="fas fa-times"></i></button>
                      </div>
                </div>
            </div>
            <div class="code-snippet">
                <iframe
                    src="https://carbon.now.sh/embed/9RzqDg68ztwdQLaBkHdE"
                    style="width: 451px; height: 167px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            <p class="component-specific">You can use above code snippet with text you want & you can remove link also if you don't want.</p>
        </div>
        <div class="footer">
            <div class="footer-intro">Made with <i class="fas fa-heart"></i> by <a class=" td-ul" href="#">Rushikesh</a> </div>
            <div class="footer-icon">
                <a href="https://github.com/rushikesh3299"><i class="fab fa-github"></i></a>
                <a href="https://twitter.com/rushikesh3299"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/rushikesh-chougule-621854192/"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="footer-copyright">@2021 सरणी UI</div>
        </div>
    </div>
    <script src="/Docsite_JS/index.js"></script>
</body>
</html>