<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="badge.css">
    <link rel="stylesheet" href="/Docsite_CSS/structure.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Sarani UI</title>
</head>
<body>
    <div class="container">
        <div class="nav-bar p10">
            <div class="nav-left">
                <i class="fas fa-bars" id="menu"></i>
                <div class="nav-header fw900">सरणी UI</div>
            </div>
            <div class="nav-right">
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="side-bar pb40">
            <a href="/Components/Avatar/avatar.html" class=" p20">Avatar</a>
            <a href="/Components/Alert/alert.html" class=" p20">Alert</a>
            <a href="/Components/Badge/badge.html" class=" p20">Badge</a>
            <a href="/Components/Button/button.html" class=" p20">Button</a>
            <a href="/Components/Card/card.html" class=" p20">Card</a>
            <a href="/Components/Image/image.html" class=" p20">Image</a>
            <a href="/Components/Input/input.html" class=" p20">Input</a>
        </div>
        <div class="component-section">
            <div class="component-title">Badge</div>
            <p class="component-general">Badges are primarily used to inform the status informations on social media app & the cart count in ecommerce app. </p>
            <div class="component-subtitle">Examples of Badge</div>
            <p class="component-specific">Below examples are shown with badge on image & icon. Some badges may include text or icon as shown. The badges on image is used to show current status of user on social media. The badge on cart icon is shown here to inform user about no of items in cart.</p>
            <div class="component-demo-box">
                <div class="badge-box">
                    <div class="badge-container badge-icon-s badge-primary">
                        <i class="fas fa-shopping-cart fs15"></i>
                        <span class="badge">1</span>
                    </div>
                    <div class="badge-container badge-icon-l badge-primary">
                        <i class="fas fa-shopping-cart fs25"></i>
                        <span class="badge">6</span>
                    </div>
                    <div class="badge-container badge-img-s badge-online">
                        <img class="img img-round avatar-s" src="/Assets/images/sampleAvatar1.png" alt="avatar" >
                        <span class="badge"></span>
                    </div>
                    <div class="badge-container badge-img-m badge-offline">
                        <img class="img img-round avatar-m" src="/Assets/images/sampleAvatar3.png" alt="avatar" >
                        <span class="badge">✕</span>
                    </div>
                    <div class="badge-container badge-img-l badge-busy">
                        <img class="img img-round avatar-l" src="/Assets/images/sampleAvatar4.png" alt="avatar" >
                        <span class="badge"></span>
                    </div>
                </div>
            </div>
            <div class="code-snippet">
                <iframe
                    src="https://carbon.now.sh/embed/ayzW4a0K26RL06RmDTHv"
                    style="width: 822px; height: 446px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            <p class="component-specific">Copy & paste the code you want for your image or icon. Note that you can also change badge color by toggeling classes like badge-primary, badge-online & badge-busy etc.</p>
        </div>
        <div class="footer">
            <div class="footer-intro">Made with <i class="fas fa-heart"></i> by <a class=" td-ul" href="#">Rushikesh</a> </div>
            <div class="footer-icon">
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="footer-copyright">@2021 सरणी UI</div>
        </div>
    </div>
    <script src="/Docsite_JS/index.js"></script>
</body>
</html>