<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="nav.css">
    <link rel="stylesheet" href="/Docsite_CSS/structure.css">
    <link rel="stylesheet" href="/Common_CSS/base.css">
    <link rel="stylesheet" href="../Avatar/avatar.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="icon" type="image/x-icon" href="/Assets/images/favicon.ico">
    <title>Sarani UI</title>
</head>

<body>
    <div class="container">
        <div class="nav-bar p10">
            <div class="nav-left">
                <i class="fas fa-bars" id="menu"></i>
                <div class="nav-header fw900">सरणी UI</div>
            </div>
            <div class="nav-right">
                <a href="https://github.com/rushikesh3299"><i class="fab fa-github"></i></a>
                <a href="https://twitter.com/rushikesh3299"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/rushikesh-chougule-621854192/"><i
                        class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="side-bar pb40">
            <a href="/Components/Avatar/avatar.html" class=" p20">Avatar</a>
            <a href="/Components/Alert/alert.html" class=" p20">Alert</a>
            <a href="/Components/Badge/badge.html" class=" p20">Badge</a>
            <a href="/Components/Button/button.html" class=" p20">Button</a>
            <a href="/Components/Card/card.html" class=" p20">Card</a>
            <a href="/Components/Grid/grid.html" class=" p20">Grid</a>
            <a href="/Components/Image/image.html" class=" p20">Image</a>
            <a href="/Components/Input/input.html" class=" p20">Input</a>
            <a href="/Components/Lists/list.html" class=" p20">Lists</a>
            <a href="/Components/Modal/modal.html" class=" p20">Modal</a>
            <a href="/Components/Nav/nav.html" class=" p20">NavBar</a>
            <a href="/Components/Rating/rating.html" class=" p20">Rating</a>
            <a href="/Components/Toast/toast.html" class=" p20">Toast</a>
            <a href="/Components/Typography/typography.html" class=" p20">Typography</a>
        </div>
        <div class="component-section">
            <div class="component-title">Navigation Bar</div>
            <p class="component-general">Navigation bar is used to navigate through the web apps or websites.</p>
            <div class="component-subtitle">Example of Navbar</div>
            <p class="component-specific">Below navigation component is responsive. It is a hamburger menu in medium and
                small devices </p>
            <div class="component-demo-box">
                <div class="nav-container">
                    <h3 class="nav-title">MyTitle</h3>
                    <div class="nav-hamburger">
                        <i class="fas fa-bars" id="hamburger"></i>
                    </div>
                    <div class="nav-links">
                        <ul>
                            <li href="#">Home</li>
                            <li href="#">About</li>
                            <li href="#">Contact</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="code-snippet">
                <iframe src="https://carbon.now.sh/embed/W984clKB7dR8HZY64zGy"
                    style="width: 561px; height: 130px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            <p class="component-specific">Copy above snippet & load this js file in order to use the responsive
                navigation bar.</p>
            <div class="code-snippet">
                <iframe src="https://carbon.now.sh/embed/Wv1qbGYmabNO4XJK0C20"
                    style="width: 100%; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            <p class="component-specific">
                You can use below snippet & can also customise it for adding or removing menu items.
            </p>
        </div>
        <div class="footer">
            <div class="footer-intro">Made with <i class="fas fa-heart"></i> by <a class=" td-ul" href="#">Rushikesh</a>
            </div>
            <div class="footer-icon">
                <a href="https://github.com/rushikesh3299"><i class="fab fa-github"></i></a>
                <a href="https://twitter.com/rushikesh3299"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/rushikesh-chougule-621854192/"><i
                        class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="footer-copyright">@2021 सरणी UI</div>
        </div>
    </div>
    <script src="/Docsite_JS/index.js"></script>
    <script src="./nav.js"></script>
</body>

</html>