<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="alert.css">
    <link rel="stylesheet" href="/Docsite_CSS/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Sarani UI</title>
</head>
<body>
    <div class="container">
        <div class="nav-bar p10">
            <div class="nav-left">
                <i class="fas fa-bars" id="menu"></i>
                <div class="nav-header fw900">सरणी UI</div>
            </div>
            <div class="nav-right">
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="side-bar pb40">
            <a href="/Components/Avatar/avatar.html" class="a--reset p20">Avatar</a>
            <a href="/Components/Alert/alert.html" class="a--reset p20">Alert</a>
            <a href="/Components/Badge/badge.html" class="a--reset p20">Badge</a>
            <a href="/Components/Button/button.html" class="a--reset p20">Button</a>
            <a href="/Components/Card/card.html" class="a--reset p20">Card</a>
            <a href="/Components/Image/image.html" class="a--reset p20">Image</a>
            <a href="/Components/Input/input.html" class="a--reset p20">Input</a>
        </div>
        <div class="component-section">
            <div class="component-title">Alert</div>
            <p class="component-general">Alert is a short message displayed to grab users attention for very short time without interrupting his regular workflow. </p>
            <div class="component-subtitle">Examples of Alert</div>
            <p class="component-specific">
                Alerts are used to attract user for doffrent purposes. 
                Success alert usually shown with green background is used to indicate successful completion of any activity.
                Same happens with warning & error alerts which convey user any warnings or error occured.
            </p>
            <div class="component-demo-box">
                <div class="alert-box">
                    <div class="alert alert-primary">This is Primary Alert</div>
                    <div class="alert alert-success">This is Success Alert</div>
                    <div class="alert alert-warning">This is Warning Alert</div>
                    <div class="alert alert-error">This is Error Alert</div>
                </div>
            </div>
            <div class="code-snippet">
                <iframe
                    src="https://carbon.now.sh/embed/7Bnrak42TqVLW9ArpSND"
                    style="width: 600px; height: 149px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            <p class="component-specific">You can use any alert by copying above code for the alert you want to show to user.</p>
        </div>
        <div class="footer">
            <div class="footer-intro">Made with <i class="fas fa-heart"></i> by <a class="a--reset td-ul" href="#">Rushikesh</a> </div>
            <div class="footer-icon">
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="footer-copyright">@2021 सरणी UI</div>
        </div>
    </div>
    <script src="/Docsite_JS/index.js"></script>
</body>
</html>